#game{
	padding-top: 110px;
	margin-top:200px;
	max-width: 757px;
	margin: auto;
	width: 82%;
	float: right;
}
#black_scissor {
	max-width:45px;
	padding: 30px;

}
#black_paper {
	max-width:75px;
	padding: 30px;

}
#black_rock {
	max-width:65px;
	padding: 30px;

}

#black_scissor:hover {
	border: red 10px solid;
	border-radius: 50%;
	min-width:60px;
	

}
#black_paper:hover {
	border: red 10px solid;
	border-radius: 50%;
	min-width:100px;
	

}
#black_rock:hover {
	border: red 10px solid;
	border-radius: 50%;
	min-width:100px;
	

}